@{
    ViewBag.Title = "About";
}
<br/>
<br/>
<div class="row">
    <div class="col-sm-3 col-sm-offset-1">
        <img src="~/Images/ehsanul.jpg" class="img-circle" alt="Cinque Terre" width="200" height="200">
        <h5>Md. Ehsanul Haque</h5>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
        <img src="~/Images/Dipto.jpg" class="img-circle" alt="Cinque Terre" width="200" height="200">
        <h5>K.M. Mahbubuzzaman</h5>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
        <img src="~/Images/baky.jpg" class="img-circle" alt="Cinque Terre" width="200" height="200">
        <h5>Abdulla Al Baky</h5>
    </div>
</div>

