@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-sm-4">
        <address>
            Md. Ehsanul Haque<br />
            Bashundhora R/A,Dhaka,Bangladesh<br />
            <abbr title="Phone">P:</abbr>
            01987603822
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:ehsanul14rb@gmail.com">ehsanul14rb@gmail.com</a><br />
        </address>
    </div>
    <div class="col-sm-4">
        <address>
            K.M. Mahbubuzzaman<br />
            Uttra,Dhaka,Bangladesh<br />
            <abbr title="Phone">P:</abbr>
            01621475132
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:kmmahbub.zaman@gmail.com">kmmahbub.zaman@gmail.com</a><br />
        </address>
    </div>
    <div class="col-sm-4">
        <address>
            Abdulla Al Baky<br />
            Lakecity,Dhaka, Bangladesh<br />
            <abbr title="Phone">P:</abbr>
            01677474840
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:bakiforhad11@gmail.com">bakiforhad11@gmail.com</a><br />
        </address>
    </div>
</div>


